html{
  background-color: #020202;
}

/*headerStart*/
.headerContainer{
  max-width: auto;
  background-color: #eff3cb;
  position: sticky;
  top: 0;
}

.header{
  display: flex;
  justify-content: space-between;
}

.headerIcon{
  width: 88px;
  height: 88px;
  }

.logo{
  width: auto;
  height: 88px;
  animation: scaleUp 3s;
}

@keyframes scaleUp {
  0% { scale: 0.1; }
}

/*dropMenuStart*/

.dropMenuBtn{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 88px;
  width: 88px;
  margin-right: 24px;
  background-color: #464646;
  scale: 75%;
  border: 3px solid #e8e8e8;
  border-radius: 10px;
}
.dropMenuLine{
  position: relative;
  width: 52px;
  border-top:  solid #e8e8e8 10px;
  margin-left: 10px;
  
}

.dropMenuBtn:hover
{
  background-color: #151515;
  box-shadow: 0 0 100px rgb(255, 204, 110);
  cursor: pointer;
}


.panel{
  display: none;
  position: absolute;
  height: auto;
  width: 96px;
  right: 20px;
  top: 80px;
  background-color:#eff3cb ;
  color:#020202;
  font-family:Arial Black;
  cursor: pointer;
}

.pages{
padding-left: 20px;
background-color:#eff3cb ;
}

.pages:hover{
  margin-left: 8px;
}


/*mainStart*/

.mainContainer{
  max-width: 920px;
  max-height: 1260px;
  margin: 0 auto 0 auto;
}

.main{
  
  padding-top: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mainArt{
  margin: 0 0 0 0 ;
  animation: fadeIn 3s;
  animation-timing-function: ease ;
}

@keyframes fadeIn {
  0% { scale: 0.9; }
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.mainTextArea{
  padding-top: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 640px;
  color:#e8e8e8;
  font-family:Arial Black;
  margin: 0 auto 0 auto;
  padding-bottom: 32px;
}

.mainTitle{
  display: flex;
  justify-content: center;
  text-shadow: 0 0 7px #fff;
}

.mainText{
  display: flex;
  justify-content: center;
}

/*asideStart*/

.asideContainer{
  max-width: 920px;
  max-height: 1260px;
  margin: 0 auto 0 auto;
  padding-top: 16px;
}

.aside{
  padding-top: 32px;
  display: flex;
  justify-content: center;

}
.asideArt{
  margin: 0 0 0 0 ;
  width: 50%;
  height: 50%;
}

.asideArt:hover{
  scale: 1.15;
}

.asideTextArea{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 640px;
  color:#e8e8e8;
  font-family:Arial Black;
  margin: 0 auto 0 auto;
}

.asideTitle{
  display: flex;
  justify-content: center;
  text-shadow: 0 0 7px #fff;
}

.asideText{
  display: flex;
  justify-content: center;
}

/*footerStart*/
.footer{
  margin: 64px  auto 0 auto;
  height: 64px;
  width: 100%;
  background-color:#eff3cb;
  display: flex;
  justify-content: space-evenly;
  font-family: Arial;
  font-size: 12px;
  color:#000000;
  flex-direction: row;
}

.footer p{
  margin: auto auto auto auto;
  display: flex;
  justify-content: center;
}

.footerIconList{
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.footerIcon{
  max-width: 48px;
  max-height: 48px;
  padding-left: 24px;
  cursor: pointer;
}

.copyRight{
  padding-top: 24px;
  padding-right: 24px;
  font-family: Arial;
  font-size: 12px;
  color:#000000;
}

/*line*/
.line{
  max-width: 1260px;
  margin: 0 auto 0 auto;
  border-top:  solid #7D7D7D 1px;
}

.verLine{
 margin-top: 16px;
  height: 32px;
  border-right:  solid #000000 1px;
}



/*goTop*/
.goTopBtn {
  position: fixed;
  top: 0;
  right:0;
  height: 48px;
  width: 48px;
  margin-top: 88vh;
  background-color: #eff3cb;
  opacity: 0.7;
  border: none;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  font-family:Arial;
  color: #000000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
  }

.goTopBtn:hover{
  opacity: 1;
  cursor: pointer;
}
    /*gameprodce*/

  .Img-list{
    width:100%;
    display:flex;
    justify-content:center;
}

    /*produceimg*/
  .smallArt{
    margin: 0 0 0 0 ;
    width: 12%;
    height: 12%;
  }
  /*login*/
  .logcontainer{
    display:flex;
    max-width: 940px;
    height: 75%;
    margin-right: auto;
    margin-left: auto;
    background-color: #c5db44;
    flex-direction: column;
}

.logheader{
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
}
.logheader-title{
  line-height: 36px;
  font-weight:1000;
  font-family:Arial Black;
  font-size:44px; 
  font-weight: bold;
  color:#778a50;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22%;

  justify-content: center;
}
.rectangle{
  line-height:1px;
  position: relative;
width: 320px;
height: 30px;
left: 310px;
background-color: rgb(255, 255, 255);
justify-content: center;
}
.logblock{
  flex-grow: 1; /*可佔滿垂直剩餘的空間*/
}
html,body{  
  height: 100%;
  margin: 0;
}
.form{
  margin-left: 360px;
  justify-content: center;
}